fd() {
  local dir
  dir=$(find ${1:-.} -path '*/\.*' -prune  -o -type d -print 2> /dev/null | fzf +m) &&
  cd "$dir"
}

fh() {
  eval $( ([ -n "$ZSH_NAME" ] && fc -l 1 || history) | fzf +s --tac | sed 's/ *[0-9]* *//')
}

mkcd() {
  mkdir -p -- "$1" && cd -P -- "$1"
}
