alias rscp='rsync --archive --compress-level=3 --copy-links --partial --inplace --progress --rsh=ssh -r'
alias ql='qlmanage -p 2>/dev/null'
alias sucs='sort | uniq -c | sort -n'
alias ytdl='yt-dlp --write-auto-sub --sub-lang en --convert-subs=srt'

cl() {
  cd "${1-$HOME}" && ll;
}

fd() {
  local dir
  dir=$(find ${1:-.} -path '*/\.*' -prune  -o -type d -print 2> /dev/null | fzf +m) &&
  cd "$dir"
}

fh() {
  eval $( ([ -n "$ZSH_NAME" ] && fc -l 1 || history) | fzf +s --tac | sed 's/ *[0-9]* *//')
}

mkcd() {
  mkdir -p -- "$1" && cd -P -- "$1"
}
